<template>
  <div class="d-flex justify-content-center" style="height: 100vh">
    <div class="flex-grow-1 align-self-stretch py-5"
         style="min-width: 320px; max-width: 620px">
      <div>Text to Table</div>

      <textarea name="textainer" id="textainer" v-model="textainer" style="font-size: 12px; width: 300px; height: 300px"
                class="rounded my-3"></textarea>

      <div>
        <button class="btn btn-danger mx-3" @click="resetApp">Empty</button>
        <button class="btn btn-warning">Copy</button>
        <button class="btn btn-success mx-3" @click="convert">Convert</button>
      </div>

      <div class="mt-4" v-if="showResultTable">
        <table>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Section</th>
            <th>Sub</th>
            <th>Payment</th>
            <th>Who</th>
          </tr>
          <tr v-for="transaction in transactionsResult">
            <td>{{transaction.date}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.section}}</td>
            <td>{{transaction.subSection}}</td>
            <td>{{transaction.payment}}</td>
            <td>{{transaction.who}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</template>

<script>

  export default {
    name: 'Home',
    data() {
      return {
        textainer: '',
        transactionArray: [],
        transactionsResult: [],
        showResultTable: false
      }
    },
    methods: {
      convert() {
        if (this.textainer !== '') {
          this.transactionArray = this.textainer.split('[Web발신]')
          for(let i = 1; i <= this.transactionArray.length-1 ; i++){
            this.transactionsResult.push(this.oneTransactionDetails(this.transactionArray[i]))
          }
        }
        if(this.transactionsResult.length > 0){
          this.showResultTable = true
        }
      },
      oneTransactionDetails(transaction) {
        const details = transaction.split(/\n/)
        //[1] search for 1*7
        let payment = details[1].includes('2*9')? 'Yellow Card': 'Gray Card'
        //[4] get first 5 char
        let date = new Date (new Date().getFullYear()+'/'+details[4].substring(0,5))

        return {
          date: this.formatDate(date),
          description: details[5],
          amount: details[3].replace('원 일시불', ''),
          section: null,
          subSection: null,
          payment: payment,
          who: null
        }

      },
      formatDate(date) {
        let d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();
        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;
        return [year, month, day].join('/');
      },
      resetApp() {
        this.transactionsResult = this.transactionArray = []
        this.textainer = ''
        this.showResultTable = false
      }
    }
  }
</script>
<style>
  td{
    padding: 10px;
  }
</style>
